@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
html{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: beige;
}
body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
#player{
    width: 60%;
    margin: auto;
    padding: 2rem;
}
#controls{
    background-color: rgb(204, 195, 184);
    border: 2px solid ;
    width: 60%;
    margin: auto;
    padding: 2rem;
}
#songsWrapper{
    width: 60%;
    border: none;
    margin: auto;
    text-align: left;
    padding: 1rem;
    font-size: 1.2rem;
}
h2{
    font-weight: bold;
    font-size: 2rem;
}
li{
    cursor: pointer;
    padding: 1rem;
}
li:hover{
    background-color: white;
    color: skyblue;
}
